# 1. Banco de Dados PostgreSQL em Nuvem (Neon.tech, Supabase, etc.)
DATABASE_URL="postgresql://usuario:senha@ep-exemplo.neon.tech/neondb?sslmode=require"

# 2. NextAuth (Autenticação)
NEXTAUTH_SECRET="chave-secreta-longa-e-aleatoria-ex-openssl-rand-base64-32"
AUTH_SECRET="chave-secreta-longa-e-aleatoria-ex-openssl-rand-base64-32"
NEXTAUTH_URL="https://dn-barbearia.vercel.app"

# 3. URL Pública da Aplicação
NEXT_PUBLIC_APP_URL="https://dn-barbearia.vercel.app"

# 4. Vercel Blob Storage (Opcional - a Vercel preenche automaticamente se ativar o Blob na aba Storage)
# BLOB_READ_WRITE_TOKEN="vercel_blob_rw_..."


/.token/tokens.txt